#user-search .dark, #user-search .light {
  background: #fff;
  border: 0;
}
#user-search .label {
  text-align: top;
}
#user-search .label {
  color: #fff;
  font-weight: 600;
}
#user-search .dark .label {
  background-color: #BACF85;
}
#user-search .light .label {
  background-color: #CDDDA6;
}
#user-search .username {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  font-size: 115%;
}